<section class="content-header">
  <h1>Category</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Categories</li>
  </ol>
</section>
<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">

      <!-- <button (click)="getSelectedRows()">Get Selected Rows</button> -->
    </div>
    <div class="box-body">
      <!-- [pagination]="true" [paginationPageSize]="10" -->
      <!DOCTYPE html>
      <html>

      <head>
        <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }

          td,
          th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }

          tr:nth-child(even) {
            background-color: #dddddd;
          }
        </style>
      </head>

      <body>
        <h2>Add Category</h2>




        <label for="fname">Category name: </label>
        <input type="text" id="fname" name="cname"><br><br>
        <label for="lname">Category_SKU: </label>
        <input type="text" id="lname" name="cat_SKU"><br><br>

        <div class="continue-reading">
          <button type="button" class="btn btn-success">Submit</button>
        </div>







      </body>

      </html>

    </div>
  </div>
</section>